.banniere {
  text-align: center;
}

.disphid {
  display: none;
}

.logout {
  position: absolute;
  margin-left: 5px;
  margin-right: 5px;
}


.flexd {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 15px solid white;
}

a > img {
  border: 5px solid black;
  border-radius: 40px;
}

a>img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@media (max-width: 1290px) {
  .logout {
    position: static;
    text-align: center;
  }
}

@media (max-width: 1240px) {
  .flexd {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .banniere > a > img {
    width: 100%;
  }
}

@media (max-width: 422px) {
  .lien {
    width: 100%;
  }
}

@media (max-width: 422px) {
  .flexd > a > img {
    width: 100%;
  }
}
